# Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=

# MySQL
MYSQL_URL=mysql://mysql:Gz1KKg6FhgUuLLHtBiVMcWkBZj98QX7GfhvssyoQBoQgKfQ9psnV5vPH06FYuYdC@147.93.27.94:27148/default

# Auth
JWT_SECRET=your_jwt_secret_here
