@import "tailwindcss";

@theme {
  --color-zinc-950: #18112E;
  --color-zinc-900: #1F173B;
  --color-zinc-800: #2A214D;
  --color-zinc-700: #362B5E;
  --color-orange-500: #E28829;
  --color-orange-600: #C77622;
}

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #18181b;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3f3f46;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #52525b;
  }
}

body {
  @apply bg-zinc-950 text-zinc-100;
}

